#flightcard{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(236, 234, 234);
}
#flights{
  display: flex;
}
#eachcard{
  box-shadow: 2px 2px 5px 1px saddlebrown;
  margin:10px;
  
}

aside{
  margin: 10px 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  flex:0 0 14%;
  background-color:white;
  /* border: 2px solid red; */
  height:100%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 1px #9f8878;
}